apiVersion: app.k8s.io/v1beta1
kind: Application
metadata:
  name: jitsu
spec:
  selector:
    matchLabels: {}
  componentKinds:
  - group: v1
    kind: Service
  - group: networking.k8s.io
    kind: Ingress
  - group: cert-manager.io
    kind: Certificate
  - group: apps
    kind: StatefulSet
  - group: apps
    kind: Deployment
  - group: batch
    kind: CronJob
  - group: batch
    kind: Job
  descriptor:
    type: jitsu
    version: 0.1.14
    description: jitsu deployed on plural
    icons:
    - src: https://plural-assets.s3.us-east-2.amazonaws.com/uploads/repos/26bfa7eb-3602-43c1-af79-4a5e2077d674/jitsu.png?v=63819019659
    

    {{- if .Values.global }}
    {{- if .Values.global.application }}
    {{- if .Values.global.application.links }}
    links:
    {{ toYaml .Values.global.application.links | nindent 6 }}
    {{- end }}
  {{- if .Values.global.application.info }}
  info:
  {{ toYaml .Values.global.application.info | nindent 4 }}
  {{- end }}
  {{- end }}
  {{- end }}
