apiVersion: app.k8s.io/v1beta1
kind: Application
metadata:
  name: rabbitmq
spec:
  selector:
    matchLabels: {}
  componentKinds:
  - group: v1
    kind: Service
  - group: networking.k8s.io
    kind: Ingress
  - group: cert-manager.io
    kind: Certificate
  - group: apps
    kind: StatefulSet
  - group: apps
    kind: Deployment
  - group: batch
    kind: CronJob
  - group: batch
    kind: Job
  descriptor:
    type: rabbitmq
    version: 0.1.12
    description: deploys the rabbitmq operator and associated monitoring
    icons:
    - src: https://plural-assets.s3.us-east-2.amazonaws.com/uploads/repos/6394470f-b74e-4dc5-8084-aba94fd8dc05/rabbitmq.png?v=63799632738
    
